<div class="page-head">
    <h2>About</h2>
</div>
<div class="main-content">

        This site is based on the data published in <a target="_blank" href="http://data.nsw.gov.au/data/dataset/popular-baby-names">NSW Open Data Portal</a>.
        This dataset contains the top 100 baby names for NSW since the 1950s.<br/><br />

        This primary technologies used in buiding the site are ASP.Net Core, Angular 2, Typescript, Entity Framework Core and SqlLite. The source code for the site is availabe in
        <a target="_blank" href="https://github.com/sravimohan/TopBabyNames">Github - ravimohan/TopBabyNames</a>.

</div>
