<div class="am-wrapper am-fixed-sidebar">
    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="page-title"><span>Fixed Sidebar</span></div><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a>
                <a class="navbar-brand" href="/"></a>
            </div>

            <div id="am-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav am-nav-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Services <span class="angle-down s7-angle-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">.Net Backend Services</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right am-icons-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="dropdown-toggle">
                            <span class="icon s7-share"></span>
                        </a>
                        <ul class="dropdown-menu am-connections">
                            <li>
                                <div class="title">Connections</div>
                                <div class="list">
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <div class="logo">
                                                    <img src="assets/img/github.png">
                                                </div>
                                                <div class="field">
                                                    <span>GitHub</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="logo">
                                                    <img src="assets/img/bitbucket.png">
                                                </div>
                                                <div class="field">
                                                    <span>Bitbucket</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer">
                                    <a href="#">View all connections</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo"></div>
            <ul class="sidebar-elements">
                <li class="parent">
                    <a routerLink="/Dashboard" routerLinkActive="active"><i class="icon s7-monitor"></i><span>Dashboard</span></a>
                </li>                
                <li class="parent">
                    <a routerLink="/Search" routerLinkActive="active"><i class="icon s7-search"></i><span>Search</span></a>
                </li>
                <li class="parent active open">
                    <a href="#"><i class="icon s7-box2"></i><span>Tables</span></a>
                    <ul class="sub-menu">
                        <li class="title">Tables</li>
                        <li class="nav-items">
                            <div class="am-scroller nano has-scrollbar">
                                <div class="content nano-content" style="right: -14px;">
                                    <ul>
                                        <li>
                                            <a routerLink="/Tables" routerLinkActive="active">All Time Boy Names</a>
                                        </li>
                                        <li>
                                            <a routerLink="/Tables" routerLinkActive="active">All Time Girl Names</a>
                                        </li>
                                        <li>
                                            <a routerLink="/Tables" routerLinkActive="active">Boy Names By Year</a>
                                        </li>
                                        <li>
                                            <a routerLink="/Tables" routerLinkActive="active">Girl Names By Year</a>
                                        </li>
                                    </ul>
                                </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 660px; transform: translate(0px, 0px);"></div></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--Sidebar bottom content-->
        </div>
    </div>
    <div class="am-content">
        <div class="page-head">
            <h1>Top Baby Names</h1>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

