<div class="panel panel-primary">
    <div class='panel-heading' style='font-size:large'>
        1974
    </div>
    <div class='panel-body'>
        <div class="col-md-9">
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nameRank of nameRanks">
                        <td>{{ nameRank.rank }}</td>
                        <td>{{ nameRank.name }}</td>
                        <td>{{ nameRank.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>