<linechart></linechart>
<div class="row">
    <div class="col-sm-12">
        <div class="widget widget-fullwidth widget-small">
            <div class="widget-head">
                <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div>
                <div class="title">Default</div>
            </div>
            <table id="table1" class="table table-striped table-hover table-fw-widget">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nameRank of nameRanks">
                        <td>{{ nameRank.rank }}</td>
                        <td>{{ nameRank.name }}</td>
                        <td>{{ nameRank.total }}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>




