<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <h3>Search for Baby Name</h3>
            <div class="input-group xs-mb-15">
                <select id="babyNameList" class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                    <option></option>
                    <option *ngFor="let name of allNames">
                        {{name}}
                    </option>
                </select>
                <span class="input-group-btn">
                    <button id="babyNameSearchButton" type="submit" (click)="onGobuttonClicked()" class="btn btn-primary">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
